@using LoginRegister.ViewModels
@model  LoginViewModel

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Enter your account</h4>
        </p>


        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Elektron poçt</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Şifrə</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Login" />
                        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>